{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Password</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/password_change.css'%}">
</head>
{%block content%}
<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form method="post">
    <h3>Change Password</h3>

    <label for="current_password">Current Password</label>
    
        {{ form.as_p }}
        <p><input type="submit" value="Change"></p>
        {% csrf_token %}
      </form>

</body>
{%endblock%}
</html>
