
{%load static%}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{%static "css/fontawesome.css" %}">
<link rel="stylesheet" href="{%static "css/templatemo-stand-blog.css" %}">
<link rel="stylesheet" href="{%static "css/owl.css" %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/6114/6114045.png"/>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
<script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>


<body>

  



  <div class="heading-page header-text">
    
  </div>



  
<wrapper class="block max-w-2xl mx-auto my-10 px-6">
  <div id="chat_window" class="h-[45rem] flex flex-col bg-gray-800 rounded-2xl shadow-2xl relative p-1">
      <div class="flex justify-center text-emerald-400 bg-gray-800 p-2 sticky top-0 z-10">
          
      </div>
      <div id='chat_container' class="overflow-y-auto grow">
          <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
              {% for message in chat_messages reversed %}
              {%include "chat_message.html"%}
             {% endfor %}
          </ul>1
      <div class="sticky bottom-0 z-10 p-2 bg-gray-800">
          <div class="flex items-center rounded-xl px-2 py-2">
               {% comment %} <form id="chat_message_form"  class="w-full"
              hx-post="{%url 'chat:home'%}"
              hx-target="#chat_messages"
              hx-swap="beforeend"
              _="on htmx:afterRequest reset() me">  {% endcomment %}
              <form id="chat_message_form" class="w-full"
              hx-ext="ws"
              ws-connect="/ws/chatroom/"
              ws-send="{'body': '{{ form.cleaned_data.body }}', 'chatroom_name': '{{ chatroom_name }}'}"
              _="on htmx:wsAfterSend reset() me">
            {% csrf_token %}
            {{ form }}
        </form>
        
          </div>
      </div>
  </div>
</wrapper>


<!-- Bootstrap core JavaScript -->
<script src="{%static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<!-- Additional Scripts -->
<script src="{%static "js/custom.js" %}"></script>
<script src="{%static "js/owl.js" %}"></script>
<script src="{%static "js/slick.js" %}"></script>
<script src="{%static "js/isotope.js" %}"></script>
<script src="{%static "js/accordions.js" %}"></script>


<script language = "text/Javascript"> 
  cleared[0] = cleared[1] = cleared[2] = 0; 
  function clearField(t){                   
  if(! cleared[t.id]){                     
      cleared[t.id] = 1;  
      t.value='';      
      t.style.color='#fff';
      }
  }
</script>
<script>

    function scrollToBottom(time=0) {
        setTimeout(function() {
            const container = document.getElementById('chat_container');
            container.scrollTop = container.scrollHeight;
        }, time);
    }
    scrollToBottom()

</script>
</body>

{% endblock %}
